################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DoubleLinkedList/obj
/DoubleLinkedList/bin/Debug/netcoreapp3.1
/DoubleLinkedList/.vs/DoubleLinkedList/v16
